.leftbar {
	display: flex;
	flex-direction: column;

	min-height: 100%;
	justify-content: space-between;
}

.leftbar .logo {
	margin-top: 55px;

	text-align: center;
}

.leftbar .logo .icon-md {
	box-sizing: border-box;
	width: 60px;
	padding: 5px;
}

.leftbar .logo .icon-md:hover {
	transition: 0.2s;
	transform: rotate(20deg);
}

.leftbar .navigation {
	min-height: 250px;
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.leftbar .navigation-item {
	display: inline-block;

	padding: 15px;

	border-color: var(--green);

	font-weight: 600;
}

.leftbar .navigation-item.active {
	border-right: 9px solid var(--green);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: var(--green);
	-webkit-box-shadow: 0 3px 30px -12px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 0 3px 30px -12px rgba(0, 0, 0, 0.37);
	box-shadow: 0 3px 30px -12px rgba(0, 0, 0, 0.37);
}

.leftbar .navigation-item:hover {
	transition: all 0.1s;

	background-color: #f0f1f2;
}

.leftbar .navigation-item.active:hover {
	transition: border-right 0.1s;

	border-right: 7px solid var(--green);
	background-color: var(--green);
}

.leftbar .help {
	margin-bottom: 10px;

	cursor: pointer;
	text-align: center;
}

.leftbar .help:hover {
	transition: transform 0.2s;
	transform: translate(0, -7px);
}

.leftbar .logout {
	margin-bottom: 10px;

	cursor: pointer;
	text-align: center;
}

@media (max-width: 600px) {
	.leftbar {
		top: unset;
		bottom: 0;

		flex-direction: row;

		width: 100%;
		height: 70px;
		align-items: center;
		justify-content: space-around;
	}

	.leftbar .logo {
		margin-top: 10px;
	}

	.leftbar .help,
	.leftbar .logout {
		display: block;
		float: left;

		margin: 10px;
	}

	.leftbar .navigation {
		min-height: 0;
	}

	.leftbar .navigation-item.active {
		border-top: 10px solid var(--green--dark);
		border-right: 0;
		border-radius: 10px;
		background-color: var(--green-dark);
	}
}
