.trade {
	min-width: 450px;
}

.trade .buy-coin {
	display: flex;
	flex-wrap: wrap;
}

.trade .buy-coin .btn-buy {
	margin-left: auto;

	background-color: var(--green);
}

.trade .buy-coin .description-atention {
	color: var(--blue-light);
}

.trade .action-button {
	cursor: pointer;

	color: var(--green);
}

.trade .action-button:hover {
	color: var(--blue-light);
}

.trade .action-button div {
	display: inline-flex;
	align-items: center;
}

.trade .action-button img {
	margin-top: 1px;
	margin-right: 4px;
}
