
.leftbar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.leftbar .logo {
	margin-top: 15px;
	text-align: center;
}

.leftbar .logo .icon-md {
	width: 60px;
}
.leftbar .logo .icon-md:hover {
	transform: rotate(20deg);
	transition: 0.2s;
}

.leftbar .navigation {
	margin: 0px;
	min-height: 250px;
	padding: 0px;
	list-style-type: none;
}
.leftbar .navigation-item {
	border-color: var(--green);
	display: inline-block;
	font-weight: 600;
	padding: 25px;
}

.leftbar .navigation-item.active {
	background-color: var(--green);
	border-right: 9px solid var(--green);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 0px 3px 30px -12px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 3px 30px -12px rgba(0,0,0,0.37);
	box-shadow: 0px 3px 30px -12px rgba(0,0,0,0.37);
}

.leftbar .navigation-item:hover {
	background-color: #f0f1f2;
	transition: all 0.1s;
}

.leftbar .navigation-item.active:hover {
	background-color: var(--green);
	border-right: 7px solid var(--green);
	transition: border-right 0.1s;
}

.leftbar .help {
	cursor: pointer;
	margin-bottom: 10px;
	text-align: center;
}

.leftbar .help:hover {
	transform: translate(0px, -7px);
	transition: transform 0.2s;
}
