.extract {
	min-width: 620px;
	padding-right: 25px;
}

.extract [class^='type-'],
.extract [class^='status-'],
.extract .name {
	color: var(--blue-light);

	font-weight: 500;
}

.extract .type-trade,
.extract .price-trade {
	color: var(--blue-light);
}

.extract .type-sell,
.extract .price-sell {
	color: var(--green);
}

.extract .type-buy,
.price-buy {
	color: var(--red);
}

.extract .status-completed {
	color: var(--green);
}

.extract .simple-table tr:nth-child(2n) {
	background-color: #eeeeeeee;
}

.extract .status-pending,
.extract .status-error {
	color: var(--red);
}

.extract .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.extract .header .btn-print {
	height: auto;
	padding: 10px;

	border-radius: 10px;
}

.extract .btn-print img {
	width: 17px;
	margin-right: 10px;
	margin-bottom: 2px;
}

@media (max-width: 550px) {
	.extract {
		padding-right: 60px;
	}
}

#printer {
	width: 0;
	height: 0;

	opacity: 0;
}
