.table-content {
	margin-top: 35px;
}

.simple-table {
	width: 100%;

	text-align: center;

	border-collapse: collapse;
}

.simple-table .thead {
	margin-bottom: 10px;

	background-color: var(--gray-light);
}

.simple-table .tbody {
	background-color: white;
}

.simple-table .th {
	padding: 15px;

	color: #979797;

	font-weight: 400;
}

.simple-table .td {
	padding: 15px;
}
