.modal {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;

	display: flex;

	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.modal-box {
	position: relative;
	z-index: 99999;

	display: flex;
	overflow: auto;
	flex-direction: column;

	max-width: 800px;
	max-height: 568px;

	animation: fadeIn 0.1s;

	border-radius: 5px;
	background-color: var(--gray-light);
	-webkit-box-shadow: 0 0 7px 0 rgba(50, 50, 50, 0.39);
	-moz-box-shadow: 0 0 7px 0 rgba(50, 50, 50, 0.39);
	box-shadow: 0 0 7px 0 rgba(50, 50, 50, 0.39);
}

.modal .modal-close-area {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	opacity: 0.4;
	background-color: black;
}

.modal .modal-close {
	cursor: pointer;
}

.modal .modal-close::before {
	position: absolute;
	top: 10px;
	right: 10px;

	width: 30px;
	height: 30px;

	content: '\00D7';
	text-align: center;

	opacity: 0.8;
	color: #444444;
	border-radius: 3px;
	background: 0 0;

	font-size: 26px;
	font-weight: 400;
	line-height: 26px;
}

.modal .modal-close:hover::before {
	color: #999999;
}

.modal .modal-top,
.modal .modal-content {
	padding: 20px;
}

.modal .modal-top {
	padding: 20px;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: white;
}

.modal .modal-top .title {
	margin-top: 0;
	margin-bottom: 3px;

	color: var(--blue-dark);
}

.modal .modal-top .description {
	margin: 0;

	color: #999999;
}

@media (max-width: 900px) {
	.modal-box {
		max-width: 600px;
		max-height: 100%;
		margin: 10px;
	}
}

@media (max-height: 568px) {
	.modal-box {
		margin: 0;

		border-radius: 0;
	}
}
