/**
 * @author oguhpereira
 * General css
 */

body {
	margin: 0;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f5f6fa;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--white: #fff;
	--green: #29cb97;
	--green-dark: #163920;
	--gray: #979797;
	--gray-light: #f2f2f2;
	--blue-dark: #31394d;
	--blue-light: #748aa1;
	--red: #de4244;
}

.container {
	max-width: 1024px;
}

.box {
	background-color: var(--white);
	border-radius: 5px;
	padding: 15px;
}

.box .title {
	font-weight: 600;
	color: var(--blue-dark);
}

.form-group {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	width: 100%;
}

.form-group .label {
	color: var(--blue-dark);
	font-weight: bold;
	padding-bottom: 4px;
}

.form-group .form-control {
	border: 1px solid var(--blue-light);
	border-radius: 5px;
	display: block;
	font-size: 18px;
	height: 40px;
	max-width: 100%;
	padding: 0 10px;
	width: 100%;
}

.form-group .form-control:focus {
	border-color: var(--blue-dark);
	transition: 0.1s border;
	outline: none;
}

.btn {
	align-items: center;
	background-color: var(--blue-dark);
	border: none;
	border-radius: 27px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	color: var(--white);
	cursor: pointer;
	font-size: 1em;
	justify-content: center;
	height: 55px;
	min-width: 150px;
	padding: 0 20px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.btn:focus {
	outline: none;
}

.btn-success {
	background-color: var(--green-dark);
}

.btn-success:hover {
	background-color: var(--green);
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

a {
	color: var(--blue-dark);
	display: inline-block;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: var(--blue-light);
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

.error-small {
	animation: fadeIn 0.5s;
	color: var(--red);
	font-size: 0.9em;
	padding: 4px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.form-control.input-error {
	border-color: var(--red);
	transition: border 1s;
}

.app-container {
	display: inline-flex;
	width: 100%;
}

.main-content {
	background: #f5f6fa;
	box-sizing: border-box;
	padding: 40px;
	margin-left: 60px;
	min-height: 100vh;
	width: calc(100% - 300px);
}

.main-content .title {
	color: var(--blue-dark);
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 15px;
}

.main-content .subtitle {
	color: var(--green);
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 10px;
}

.left-content {
	background: white;
	-webkit-box-shadow: 0px 0px 26px -12px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 0px 0px 26px -12px rgba(0, 0, 0, 0.37);
	box-shadow: 0px 0px 26px -12px rgba(0, 0, 0, 0.37);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 60px;
	z-index: 99;
}

.right-content {
	background: white;
	right: 0;
	float: right;
	min-height: 100%;
	position: relative;
	top: 0;
	width: 300px;
}

.icon-md {
	width: 30px;
	display: inline-block;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

.container-center {
	align-items: center;
	background-color: #ebebeb;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
}

.wrap-box-center {
	padding: 45px;
	position: relative;
	width: 560px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.custom-tooltip {
	background-color: white;
	box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
	padding: 5px;
}

.custom-tooltip p {
	margin: 0px;
	padding: 1px;
}

.collapse-btn {
	display: none;
}

@media (max-width: 1024px) {
	.main-content {
		padding: 20px;
	}
}

@media (max-width: 949px) {
	.main-content {
		overflow: auto;
		width: 100%;
	}
	.main-content .title {
		font-size: 1.7em;
	}
	.right-content {
		box-shadow: 0px 0px 26px -12px rgba(0, 0, 0, 0.37);
		height: 500px;
		opacity: 0;
		overflow: scroll;
		position: fixed;
		width: 0px;
		z-index: 99;
	}
	.collapse-btn {
		align-items: center;
		background: var(--green);
		border-radius: 10px;
		color: white;
		display: flex;
		justify-content: center;
		padding: 10px;
		position: fixed;
		top: 30px;
		z-index: 999;
	}

	.collapse-btn img {
		transition: all .5s;
	}
}

@media (max-width: 600px) {
	.main-content {
		margin-left: 10px;
		margin-bottom: 100px;
	}
	.left-content {
		bottom: 0;
		flex-direction: row;
		top: unset;
		height: auto;
		width: 100%;
	}
}
