/**
 * @author oguhpereira
 * General css
 */

body {
	margin: 0;

	background: #f5f6fa;

	font-family:
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro,
		Menlo,
		Monaco,
		Consolas,
		'Courier New',
		monospace;
}

:root {
	--white: #ffffff;
	--green: #29cb97;
	--green-dark: #163920;
	--gray: #979797;
	--gray-light: #f2f2f2;
	--blue-dark: #31394d;
	--blue-light: #748aa1;
	--red: #de4244;
}

.container {
	max-width: 1024px;
}

.box {
	padding: 15px;

	border-radius: 5px;
	background-color: var(--white);
}

.box .title {
	color: var(--blue-dark);

	font-weight: 600;
}

.form-group {
	display: flex;

	width: 100%;
	margin-bottom: 15px;
	flex-wrap: wrap;
}

.form-group .label {
	padding-bottom: 4px;

	color: var(--blue-dark);

	font-weight: bold;
}

.form-group .form-control {
	display: block;

	width: 100%;
	max-width: 100%;
	height: 40px;
	padding: 0 10px;

	border: 1px solid var(--blue-light);
	border-radius: 5px;

	font-size: 18px;
}

.form-group .form-control:focus {
	transition: 0.1s border;

	border-color: var(--blue-dark);
	outline: none;
}

.btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	min-width: 150px;
	height: 55px;
	padding: 0 20px;

	cursor: pointer;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	color: var(--white);
	border: none;
	border-radius: 27px;
	background-color: var(--blue-dark);

	font-size: 1em;
	align-items: center;
	justify-content: center;
}

.btn:focus {
	outline: none;
}

.btn-success {
	background-color: var(--green-dark);
}

.btn-success:hover {
	background-color: var(--green);
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

a {
	display: inline-block;

	text-decoration: none;

	color: var(--blue-dark);
	outline: none;
}

a:hover {
	color: var(--blue-light);
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

.error-small {
	padding: 4px;

	animation: fadeIn 0.5s;

	color: var(--red);

	font-size: 0.9em;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.form-control.input-error {
	transition: border 1s;

	border-color: var(--red);
}

.app-container {
	display: inline-flex;

	width: 100%;
}

.main-content {
	box-sizing: border-box;
	width: calc(100% - 300px);
	min-height: 100vh;
	margin-left: 60px;
	padding: 40px;

	background: #f5f6fa;
}

.main-content .title {
	margin-bottom: 15px;

	color: var(--blue-dark);

	font-size: 2em;
	font-weight: 400;
}

.main-content .subtitle {
	margin-bottom: 10px;

	color: var(--green);

	font-size: 1.2em;
	font-weight: 600;
}

.left-content {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;

	width: 60px;
	height: 100%;

	background: white;
	-webkit-box-shadow: 0 0 26px -12px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 0 0 26px -12px rgba(0, 0, 0, 0.37);
	box-shadow: 0 0 26px -12px rgba(0, 0, 0, 0.37);
}

.right-content {
	position: relative;
	top: 0;
	right: 0;

	float: right;

	width: 300px;
	min-height: 100%;

	background: white;
}

.icon-md {
	display: inline-block;

	width: 30px;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

.container-center {
	display: flex;

	width: 100%;
	min-height: 100vh;

	background-color: #ebebeb;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.wrap-box-center {
	position: relative;

	width: 560px;
	padding: 45px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.custom-tooltip {
	padding: 5px;

	background-color: white;
	box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.custom-tooltip p {
	margin: 0;
	padding: 1px;
}

.collapse-btn {
	display: none;
}

@media (max-width: 1024px) {
	.main-content {
		padding: 20px;
	}
}

@media (max-width: 949px) {
	.main-content {
		overflow: auto;

		width: 100%;
	}

	.main-content .title {
		font-size: 1.7em;
	}

	.right-content {
		position: fixed;
		z-index: 99;

		overflow: scroll;

		width: 0;
		height: 500px;

		opacity: 0;
		box-shadow: 0 0 26px -12px rgba(0, 0, 0, 0.37);
	}

	.collapse-btn {
		position: fixed;
		z-index: 999;
		top: 30px;

		display: flex;

		padding: 10px;

		color: white;
		border-radius: 10px;
		background: var(--green);
		align-items: center;
		justify-content: center;
	}

	.collapse-btn img {
		transition: all 0.5s;
	}
}

@media (max-width: 600px) {
	.main-content {
		margin-bottom: 100px;
		margin-left: 10px;
	}

	.left-content {
		top: unset;
		bottom: 0;

		flex-direction: row;

		width: 100%;
		height: auto;
	}
}

@media (min-width: 1025px) {
	.wrap-card {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.wrap-card .card {
		width: calc(50% - 7.5px);
	}
}

.min-w-550 {
	min-width: 550px;
}

.collapse-menu {
	width: 300px;

	opacity: 1;
}

.rotate-180 {
	transform: rotate(180deg);
}

.right-5 {
	right: 5px;
}

.right-285 {
	right: 285px;
}

.p-20 {
	padding: 20px;
}

.border-top {
	border-top: 1px solid;
}